# Ignore arquivos do Visual Studio
.vs/
.vs2019/
.vs2017/
.vs2015/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# User-specific files for Rider
.idea/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Node.js (caso use)
node_modules/

# Pacotes NuGet
packages/

# Tye
.tye/
.tye/build/

# Ignore build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]istro/
[Dd]ebug|Release/
bin/
obj/

# ASP.NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code
.vscode/
