@{
    ViewData["Title"] = "Confirmação de apagar contato"; //nome que vai aparecer na aba da pagina
}

<div class="text-center">
   <h1 style="margin-top: 80px; margin-bottom: 20px;">Realmente quer apagar o contato (toto)?</h1>


    <a class="btn btn-danger btn-block" style="margin-right: 50px;" role="button" asp-controller="Contato" asp-action="Listagem">Cancelar</a>
    <a class="btn btn-primary btn-block" role="button" asp-controller="Contato" asp-action="ApagarPermanente">Confirmar</a>


</div>
<!--Padding: Espaço interno, distancia do conteudo da tag e as bordas
    normalmente é mais usado em botao, imagem
    
    Margin: Espaço externo, distancia das extremidades da tela e entre os
    elementos
    
    width: largura
    
    height: altura-->